textarea{
    height: 400px;
}

.btn-section{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

.btn-section button{
    border-radius: 200px;
    background-color: transparent;
}
.btn-section .removePost{
    border: 3px solid red;
    color: red;
    font-weight: bold;
}

.btn-section .updatePost{
    border: 3px solid green;
    color: green;
    font-weight: bold;
}

.date-section{
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-100%);
    font-size: 10px;
    color: gray;
}
.post-content{
    width: 80%;
}
.post-container{
    border: 1px solid black;
    position: relative;
    margin-top: 20px;
    border-radius: 4px;
}

.hidden{
    opacity: 0;
}