textarea{
    height: 400px;
}

.btn-section{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

.btn-section button{
    border-radius: 200px;
    background-color: transparent;
}
.btn-section .remove-comment{
    border: 3px solid red;
    color: red;
    font-weight: bold;
    transition: transform .2s;
}

.btn-section .remove-comment:hover, .btn-section .update-comment:hover{
    transform: scale(1.2);
}

.btn-section .update-comment{
    border: 3px solid green;
    color: green;
    font-weight: bold;
    transition: transform .2s;
}

.date-section{
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-100%);
    font-size: 10px;
    color: gray;
}
.comment-content{
    width: 80%;
}
.comment-container{
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #F3F3F3;
}

.comments-container {
    padding-top: 20px;
}

.hidden{
    opacity: 0;
}

#form-submit{
    margin: 10px 0;
}

.load-more{
    color: blue;
    cursor: pointer;
}